<h1>About the K9 Center</h1>

<p>1234 5th St, New Orleans, LA</p>
<p> <%= fa_icon "twitter", class: "fa-3x" %>
<%= fa_icon "facebook", class: "fa-3x" %>
<%= fa_icon "instagram", class: "fa-3x" %> </p>

