 <h1>Welcome to the K9 Center!</h1>
  <div class="views">
  <h2>We offer...</h2>
  <ul>
  <li>day care</li>
  <li>boarding</li>
  <li>obedience training</li>
  <li>agility training</li>
  <li>dog friendship!</li>
</ul>
</div>

